/* 
    FONTS
*/
@font-face{
    font-family: digital-clock;
    src: url("../assets/fonts/LCD14.otf") format("opentype");
}

/* 
    GLOBAL
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    /* border: 1px solid red; */
}

button:not(:disabled){
    cursor: pointer;
}

body{
    padding: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(235, 235, 235);
}

main{
    margin-top: 1em;
    height: 100%;
}

/* 
    DARK MODE
*/
body.dark{
    background: rgb(33,33,33);
}

h2.dark,
p.dark,
label.dark,
input.dark,
select.dark,
.clock.dark,
.clock-divider.dark,
.timers--timer-el--countdown-container span.dark,
.timers--timer-name.dark,
span.text-small.dark{
    color: #ececec;
}

input.dark,
.clock-divider.dark,
select.dark{
    background: rgb(50, 50, 50);
}

input.dark::placeholder{
    color: rgb(170, 170, 170);
}

button.dark{
    background: rgb(33,33,33);
    color: #ececec;
}

button .material-symbols-outlined.dark{
    color: #ececec;
}

button.dark:hover,
#load-btn.dark:hover,
#save-btn.dark:hover,
#delete-btn.dark:hover,
#new-btn.dark:hover,
.start-btn.dark:hover:not(:disabled),
.pause-btn.dark:hover:not(:disabled),
.reset-btn.dark:hover:not(:disabled),
.loop-btn.dark:hover:not(:disabled),
.delete-btn.dark:hover:not(:disabled){
    background: rgb(60, 60, 60);
}

.pause-btn.dark:disabled,
.reset-btn.dark:disabled{
    opacity: 15%;
}

.pause-btn.paused.dark:disabled{
    background: rgb(255, 185, 185);
    border: 2px solid rgb(217, 72, 72);
    opacity: 100%;
}

.pause-btn.paused.dark:disabled span{
    color: rgb(217, 72, 72);
    opacity: 100%;
}

.pause-btn.dark:disabled:hover,
.reset-btn.dark:disabled:hover{
    background: rgb(33,33,33);
}

.timers--timer.dark{
    background: rgb(33,33,33);
}

.timers--timer.active.dark{
    background: rgb(60,60,60);
}

.alarm.dark{
    animation: 0.5s ease-in-out infinite alarmBackgroundDark;
}

    /* MODALS (DARK MODE) */

.modal-background.dark{
    background: rgba(22, 22, 22, 0.5)
}

.modal.dark{
    background: rgb(33,33,33);
    box-shadow: 0 0 1em 0.25em rgb(16, 16, 16);
}

    /* POPUPS (DARKMODE) */
    .popup.dark{
        background: rgb(10,10,10);
    }
    
    .success-popup.dark{
        color: rgb(0, 255, 0);
        border: 2px solid rgb(0, 255, 0);
        box-shadow: 0 0 1em 0.25em rgb(16, 16, 16);
    }
    
    .error-popup.dark{
        color: rgb(255, 0, 0);
        border: 2px solid rgb(255, 0, 0);
        box-shadow: 0 0 1em 0.25em rgb(16, 16, 16);
    }

/* 
    TYPOGRAPHY
*/
h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    font-weight: normal;
}

.clock,
.clock-divider{
    font-family: "digital-clock";
    font-size: 3rem;
}

.timers--timer-el--countdown-container span{
    font-family: "digital-clock";
    font-size: 4rem;
}

span.text-small{
    font-size: 1.5rem;
}

/* 
    HEADER
*/
header{
    display: flex;
    justify-content: space-between;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.profiles-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
}

#load-btn,
#save-btn,
#delete-btn{
    height: 1.5em;
    width: 1.5em;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 25%;
    cursor: pointer;
}

#load-btn:hover,
#save-btn:hover,
#delete-btn:hover{
    background: rgb(219, 219, 219);
}

/* 
    TIMER OPTIONS SECTION
*/

/* For Chrome */
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* For Firefox */
input[type=number]{
    -moz-appearance: textfield;
}

.options--timer-settings{
    margin-top: 0.5em;
    display: grid;
    grid-template-areas: 
        "newname newname newname newname newname"
        "seg1 seg2 seg3 seg4 seg5"
        "audio audio audio audio audio"
        "newbtn newbtn newbtn newbtn newbtn";
    row-gap: 0.5em;
}

.countdown-segment1{
    grid-area: seg1;
}
.countdown-segment2{
    grid-area: seg2;
}
.countdown-segment3{
    grid-area: seg3;
}
.countdown-segment4{
    grid-area: seg4;
}
.countdown-segment5{
    grid-area: seg5;
}

.options--timer-settings--display input{
    border: 1px solid lightgrey;
    padding: 0.1em;
    width: 2em;
}

input.options--timer-settings--display--clock-hour{
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}
input.options--timer-settings--display--clock-minute{
    border-left: none;
    border-right: none;
}
input.options--timer-settings--display--clock-second{
    border-left:none;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

.clock-divider{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background: white;
}

input.clock,
.clock-divider{
    width: 100%;
    text-align: center;
    padding-top: 0.3em;
}

#timer-name-label{
    grid-area: newname;
    width: 100%;
}

#timer-name{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid lightgrey;
}

.options--audio{
    grid-area: audio;
    display: flex;
    column-gap: 1.25em;
}

.track-select-label{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#track-select{
    padding: 0.5em;
    height: 60%;
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid lightgrey;
}

.track-preview{
    display: grid;
    grid-template-areas: 
    "preview-text preview-text"
    "preview-play preview-stop"
    "preview-volume preview-volume";
    gap: 0.25em;
}

.track-preview > p{
    grid-area: preview-text;
}

#audio-preview-stop{
    grid-area: preview-stop;
    border-radius: 0.25em;
    border: 1px solid grey;
}

#audio-preview-stop:hover{
    color: rgb(217, 72, 72);
}

#audio-preview-play{
    flex-shrink: preview-play;
    border-radius: 0.25em;
    border: 1px solid grey;
}

#audio-preview-play:hover{
    color: rgb(22, 183, 22);
}

#audio-preview-stop:active,
#audio-preview-play:active{
    transform: translate(1px, 1px)
}

#preview-volume-label{
    grid-area: preview-volume;
    display: flex;
    gap: 0.25em;
    cursor: pointer;
}

#new-btn{
    margin: 0;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 0.5em;
    grid-area: newbtn;
}

#new-btn:hover,
.global-btn:hover{
    background: lightgrey;
    font-weight: 600;
}

#new-btn:active,
.global-btn:active{
    transform: translate(1px, 1px)
}

/* 
    GLOBAL CONTROLS SECTION
*/
.global-controls{
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.global-btn{
    flex-grow: 1;
    padding: 0.25em;
    border-radius: 0.5em;
    border: 1px solid grey;
}

/* 
    TIMERS SECTION
*/
.timers{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

.timers--timer{
    padding: 1em;
    border: 1px solid lightgrey;
    background: rgb(241, 241, 241);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: grab;
}

.timers--timer.active{
    background: white;
    border: 1px solid grey;
}

.timers--timer-name{
    position: relative;
    top: -0.5em;
    text-align: right;
    cursor: url(./assets/images/pencil-icon-half.png) 0 40, auto;
    width: max-content;
    margin-left: auto;
}

.timers--timer-el--countdown-container{
    text-align: center;
}

.timers--timer-el--timer-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

/* 
    TIMER BUTTONS
*/
.start-btn,
.pause-btn,
.reset-btn,
.loop-btn,
.delete-btn{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    flex-grow: 1;
    border: 1px solid lightgrey;
}

.start-btn:not(:disabled),
.pause-btn:not(:disabled),
.reset-btn:not(:disabled),
.loop-btn:not(:disabled),
.delete-btn:not(:disabled){
    border: 1px solid grey;
}

.pause-btn:hover:not(:disabled),
.reset-btn:hover:not(:disabled),
.loop-btn:hover:not(:disabled),
.delete-btn:hover:not(:disabled){
    background: rgb(235, 235, 235);
}

.delete-btn:hover:not(:disabled) span,
.pause-btn:hover:not(:disabled) span,
.reset-btn:hover:not(:disabled){
    color: rgb(217, 72, 72);
    font-weight: 500;
}

.pause-btn:disabled span{
    color: lightgrey;
}

.paused:disabled{
    background: rgb(255, 185, 185);
    border: 2px solid rgb(217, 72, 72);
}

.paused:disabled span{
    color: rgb(217, 72, 72);
}

.loop-btn:hover span{
    color: rgb(85, 85, 192);
}

.loop-btn.loop{
    background: lightblue;
    border: 2px solid rgb(85, 85, 192);
}

.loop-btn.loop span{
    color: rgb(85, 85, 192);
}

.loop-btn.loop:hover{
    background: lightblue;
}

.loop-btn.loop:hover span{
    color: rgb(217, 72, 72);
}

.start-btn.active:disabled{
    background: rgb(191, 220, 191);
    border: 2px solid rgb(62, 122, 62);
}

.start-btn.active:disabled span{
    color: rgb(62, 122, 62);
}

.start-btn:hover:not(:disabled) span{
    color: rgb(22, 183, 22);
}

/* 
    TIMER ALARM
*/
.timers--timer-el--timer-alarm{
    margin-top: 1em;
    display: flex;
    gap: 0.5em;
}

.audio-mute{
    cursor: pointer;
}

/* .timers--timer-el--timer-alarm input[type=range]{

}

.timers--timer-el--timer-alarm input[type=range]::-webkit-slider-runnable-track{

}

.timers--timer-el--timer-alarm input[type=range]::-moz-range-track{

} */



/* 
    NOTIFICATIONS / MODALS
*/
.modal-background{
    background: rgba(125,125,125, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left:0;
    top: 0;
}

.modal{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    width: 20em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 1em 0.25em grey;
}

.load-modal{
    display: grid;
    grid-template-areas: 
        "msg msg"
        "input input"
        "load cancel"
        "error error";
    gap: 0.5em;
}

.save-modal{
    display: grid;
    grid-template-areas: 
    "msg msg msg msg"
    "input input input input"
    "save replace merge cancel"
    "error error error error";
    gap: 0.5em;
}

.delete-modal{
    display: grid;
    grid-template-areas:
    "msg msg"
    "input input"
    "delete cancel"
    "error error";
    gap: 0.5em;
}

.modal-msg{
    grid-area: msg;
}

.modal-btn{
    padding: 0.25em;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0.4em;
}

.modal-btn:hover{
    background: rgb(209, 209, 209);
}

.modal-btn:active{
    transform: translate(1px, 1px);
}

#profile-load-input,
#profile-save-input,
#profile-delete-input{
    grid-area: input;
    padding: 0.5em;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0.4em;
}

#profile-load-btn{
    grid-area: load;
}

#profile-cancel-btn{
    grid-area: cancel;
}

#profile-save-btn{
    grid-area: save;
}

#profile-replace-btn{
    grid-area: replace;
}

#profile-merge-btn{
    grid-area: merge;
}

#profile-delete-btn{
    grid-area: delete;
}

.not-found{
    color: red;
    grid-area: error;
}

.input-error{
    border: 1px solid red !important;
}

.popup{
    padding: 0.5em;
    border-radius: 1em;
    background: white;
    width: fit-content;
    position: absolute;
    left: 50%;
    bottom: 0%;
    opacity: 0;
    transform: translate(-50%, 0);
    animation: 2.5s ease-in-out bottomUp;
}

.success-popup{
    color: rgb(11, 123, 11);
    border: 2px solid rgb(11, 123, 11);
    box-shadow: 0 0 1em 0.1em grey;
}

.error-popup{
    color: rgb(200, 14, 14);
    border: 2px solid rgb(200, 14, 14);
    box-shadow: 0 0 1em 0.1em grey;
}

/* 
    THEME, GITHUB, LINKEDIN BUTTONS
*/
#theme-btn,
#github-btn,
#linkedin-btn{
    position: fixed;
    right: 1em;
    padding: 0.25em;
    cursor: pointer;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
}

#theme-btn{
    bottom: 1em;
    background: rgb(33,33,33);
}

#github-btn{
    bottom: 3.5em;
}

#linkedin-btn{
    bottom: 6em;
}

#linkedin-btn img,
#github-btn img{
    vertical-align: middle;
}

#theme-btn:active,
#linkedin-btn:active,
#github-btn:active{
    transform: translate(1px, 1px);
}

/* 
    ANIMATIONS
*/
.deleting{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.loading{
    animation: fadeIn 1s;
}

.alarm{
    animation: 0.5s ease-in-out infinite alarmBackground;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@keyframes bottomUp{
    0%{
        bottom: 5%;
        opacity: 0;
    }
    10%{
        opacity: 1;
        bottom: 10%;
    }
    75%{
        opacity: 1;
        bottom: 10%;
    }
    100%{
        opacity: 0;
        bottom: 5%;
    }
}

@keyframes alarmBackground{
    50%{
        background: rgb(255, 177, 177);
    }
    100%{
        background: rgb(241, 241, 241);
    }
}

@keyframes alarmBackgroundDark{
    50%{
        background: rgb(79, 35, 35);
    }
    100%{
        background: rgb(60, 60, 60);
    }
}

/*
    MEDIA QUERIES
    Common screen resolutions:
    Desktop: 1920×1080, 1366×768, 1280×1024, 1024×768
    Mobile: 375×667, 414×736, 360×800, 390×844
    Tablet: 768×1024, 1024×768, 601×962
*/

/* Mobile: 360px-414px */
@media screen and (max-width: 414px){
    
    .options--timer-settings{
        grid-template-areas: 
            "seg1 seg2 seg3 seg4 seg5    "
            "newname newname newname newname newname"
            "newbtn newbtn newbtn newbtn newbtn";
    }

    .timers--timer-el--countdown-container span{
        font-size: 2.5rem;
    }

    /* Not sure about this */
    span.text-small{
        display: none;
    }

    /* .app-description{
        display: none;
    } */

    .app-title{
        font-size: 3rem;
    }
}

/* Custom: for stretching browsers too small */
@media screen and (max-width: 475px){
    .app-description{
        max-width: 18em;
    }
}

/* Tablet: 601px-1024px */
@media screen and (max-width: 1000px){
    
    .options--timer-settings{
        grid-template-areas: 
            "seg1 seg2 seg3 seg4 seg5    "
            "newname newname newname newname newname"
            "audio audio audio audio audio"
            "newbtn newbtn newbtn newbtn newbtn";
    }

    .timers--timer-el--countdown-container span:not(.text-small){
        font-size: 3em;
    }
}

/* Theme , LinkedIn and Github buttons */
@media screen and (max-width: 1150px){
    #theme-btn,
    #github-btn,
    #linkedin-btn{
        right: 0.1em;
        width: 25px;
        /* height: 20px; */
    }

    #github-btn img,
    #linkedin-btn img{
        width: 15px;
    }

    #theme-btn{
        font-size: 0.75rem;
        bottom: 1.25em;
    }
}

/* Desktop: 1024px and above */
@media screen and (min-width: 1024px){

    
}

/* Custom: Really wide viewport */
@media screen and (min-width: 1100px){
    body{
        width: 1050px;
        align-items: center;
        margin: auto;
    }

    header{
        width: 100%;
    }

    #load-btn,
    #save-btn,
    #delete-btn{
        width: 9.8em;
        height: 2em;
        border-radius: 0.75em;
        display: flex;
        align-items: center;
        border-color: rgb(204, 202, 202);
        font-weight: 500;
    }

    .profile-btn-text{
        margin-left: 1em;
    }

    .material-symbols-outlined{
        color: rgb(110, 110, 110);
    }
}

/* 
    DRAG AND DROP
*/
.dragging{
    opacity: 0.25;
    background: rgb(164, 164, 164);
}