/* 
    FONTS
*/
@font-face{
    font-family: digital-clock;
    src: url("../assets/fonts/LCD14.otf") format("opentype");
}

/* 
    GLOBAL
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    /* border: 1px solid red; */
}

/* 
    TYPOGRAPHY
*/
h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    font-weight: normal;
}

.clock,
.clock-divider{
    font-family: "digital-clock";
    font-size: 3rem;
}

.timers--timer-el--countdown-container span{
    font-family: "digital-clock";
    font-size: 4rem;
}

span.text-small{
    font-size: 1.5rem;
}

/* .start-btn,
.pause-btn,
.reset-btn,
.loop-btn,
.delete-btn{
    
} */

/* 
    APP
*/
body{
    padding: 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin-top: 1em;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
}

/* 
    OPTIONS
*/

/* For Chrome */
/* input[type=number]::-webkit-inner-spin-button{
    opacity: 1;
} */

.options--timer-settings{
    margin-top: 0.5em;
    display: grid;
    grid-template-areas: 
        "newname newname newname newname newname"
        "seg1 seg2 seg3 seg4 seg5"
        "newbtn newbtn newbtn newbtn newbtn";
    row-gap: 0.5em;

}

.countdown-segment1{
    grid-area: seg1;
}
.countdown-segment2{
    grid-area: seg2;
}
.countdown-segment3{
    grid-area: seg3;
}
.countdown-segment4{
    grid-area: seg4;
}
.countdown-segment5{
    grid-area: seg5;
}

.options--timer-settings--display input{
    border: 1px solid lightgrey;
    padding: 0.1em;
    width: 2em;
}

input.options--timer-settings--display--clock-hour{
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}
input.options--timer-settings--display--clock-minute{
    border-left: none;
    border-right: none;
}
input.options--timer-settings--display--clock-second{
    border-left:none;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

.clock-divider{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

input.clock,
.clock-divider{
    width: 100%;
    text-align: center;
    padding-top: 0.3em;
}

#timer-name-label{
    grid-area: newname;
    width: 100%;
}

#timer-name{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid lightgrey;
}

#new-btn{
    margin: 0;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 0.5em;
    grid-area: newbtn;
}

#new-btn:hover{
    background: lightgrey;
}

#new-btn:active{
    transform: translate(1px, 1px)
}

/* 
    TIMERS
*/
.timers{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

.timers--timer{
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.timers--timer-name{
    position: relative;
    top: -0.5em;
    text-align: right;
    cursor: url(./assets/images/pencil-icon-half.png) 0 40, auto;
    width: min-content;
    margin-left: auto;
}

.timers--timer-el--countdown-container{
    text-align: center;
}

.timers--timer-el--timer-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

/* 
    TIMER BUTTONS
*/
.start-btn,
.pause-btn,
.reset-btn,
.loop-btn,
.delete-btn{
    /* width: 4em; */
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.paused:disabled{
    background: lightcoral;
}

.loop{
    background: lightblue;
}

/*
    MEDIA QUERIES
*/

/* Mobile: 360px-414px */
@media screen and (max-width: 414px){
    
    .options--timer-settings{
        grid-template-areas: 
            "seg1 seg2 seg3 seg4 seg5    "
            "newname newname newname newname newname"
            "newbtn newbtn newbtn newbtn newbtn";
    }

    .timers--timer-el--countdown-container span{
        font-size: 2.5rem;
    }

    /* Not sure about this */
    span.text-small{
        display: none;
    }
}

/* Tablet: 601px-1024px */
@media screen and (max-width: 1000px){
    
    .options--timer-settings{
        grid-template-areas: 
            "seg1 seg2 seg3 seg4 seg5    "
            "newname newname newname newname newname"
            "newbtn newbtn newbtn newbtn newbtn";
    }

    .timers--timer-el--countdown-container span:not(.text-small){
        font-size: 3em;
    }
}

/* Desktop: 1024px and above */
@media screen and (min-width: 1024px){

    
}

/* 
    ANIMATIONS
*/
.deleting{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.loading{
    animation: fadeIn 1s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

@keyframes bottomUp{
    0%{
        bottom: 5%;
        opacity: 0;
    }
    10%{
        opacity: 1;
        bottom: 10%;
    }
    75%{
        opacity: 1;
        bottom: 10%;
    }
    100%{
        opacity: 0;
        bottom: 5%;
    }
}

/* 
    NOTIFICATIONS / MODALS
*/
.modal-background{
    background: rgba(125,125,125, 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left:0;
    top: 0;
}

.modal{
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    background: white;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1em 0.25em grey;
}

.not-found{
    color: red;
}

.input-error{
    border: 1px solid red;
}

.popup{
    padding: 0.5em;
    border-radius: 1em;
    background: white;
    width: fit-content;
    position: absolute;
    left: 50%;
    bottom: 0%;
    opacity: 0;
    transform: translate(-50%, 0);
    animation: 2.5s ease-in-out bottomUp;
}

.success-popup{
    color: rgb(11, 123, 11);
    border: 2px solid rgb(11, 123, 11);
}

.error-popup{
    color: rgb(200, 14, 14);
    border: 2px solid rgb(200, 14, 14);
}